body {
	background-color: red;
}
/*all paragraphs will be red alligned to the center*/
p {
  color: cyan;
  text-align: center;
  font-size: 50px;
  background-color: black;
}

#id1 {
	font-size: 100px;
	color: black;
  font-family: 'Courier New', Courier, monospace;
}

.left-alligned {
  text-align: left;
}